* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

p {
    margin-bottom: 10px;
}

.trigger:hover {
    background-color: white;
    border: 1px solid black;
}

button {
    min-width: 30%;
    cursor: pointer;
}

.decrease {
    background: red;
    box-shadow: 0 5px 0 darkred;
}

.decrease:hover {
    background: darkred;
    box-shadow: 0 5px 0 rgb(71, 0, 0);
}

.increase {
    background: green;
    box-shadow: 0 5px 0 darkgreen;
}

.increase:hover {
    background: darkgreen;
    box-shadow: 0 5px 0 rgb(0, 58, 0);
}

.decrease:active, .increase:active{
    position:relative;
    top:5px;
    box-shadow:none;
}

.counter {
    display: flex;
    width: 20%;
    min-height: 3rem;
    align-items: center;
    justify-content: space-evenly;
}

#currentNumber {
    color: black;
}